#section-01 {
  background: var(--secondary);
  height: 30vh;
  display: grid;
  place-items: center;
}

h5 {
  margin: 0;
}

form {
  height: 20px;
}

input {
  height: 100%;
}

button {
  background: var(--quaternary);
  border: none;
  border-radius: 6%;
  height: 100%;
}