
#section-05 {
  background: var(--octonary);
  height: 500px;
  display: grid;
  place-items: center;
  border: dashed seagreen 5px;
}

#section-05 > .container {
  border: dashed yellowgreen 5px;
  height: 450px;
  background: inherit;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;

}

#section-05 .left {
  border: dashed hotpink 5px;
  display: flex;
  justify-content: center;
}
#section-05 .right {
  border: dashed darkorange 5px;
}

#section-05__img {
  border-radius: 50%;
  height: 300px;
  width: 300px;

  background: deepskyblue;
}
#section-05__button {
    height: 50px;
  width: 200px;
}

.gradient-container {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(237,237,237,1) 0%, rgba(228,227,244,0) 100%);
  height: 100%;
  width: 100%;
}