nav {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px;
  background: var(--primary);
}

#remainder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
