:root {
  --primary: #1D2834;
  --secondary: #232F3E;
  --text-primary: white;
  
  background: var(--secondary);
  color: var(--text-primary);
}
body { margin: 0; }

nav {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px;
  background: var(--primary);
}

#remainder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
